* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body.second-page-background {
    width: 100%;
    min-height: 100vh;
    background-image: url("quick game.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Fredoka One", cursive;
    overflow: hidden;
}
/* ================= Tournament Page ================= */
.tournament {
    text-align: center;
    width: 100%;
    max-width: 900px;
    position: relative;
}

/* ================= Back Button ================= */
.back-btn {
    position: absolute;
    top: -150px;
    left: -310px;
    font-size: 48px;
    color: white;
    text-decoration: none;
    z-index: 9;
}

/* ================= Title Text ================= */
.title {
    margin-top: 30px;
    color: #4b2a7a;
    border-radius: 30%;
    font-size: 46px;
    letter-spacing: 3px;
    text-shadow: 3px 3px 4px rgba(0,0,0,0.3);
}

/* ================= Player Buttons Row ================= */
.players-row {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    gap: 35px;
}

.players-row input {
    display: none;
}

.p-tab {
    width: 120px;
    height: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    color: white;
    border: 6px solid #000;
    box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.6);
    transition: 0.15s;
    cursor: pointer;
    margin-top: 70px;
}


/* ================= Colors ================= */
.red { background: #ff3737; }
.blue { background: #2ab6ff; }
.green { background: #33d640; }
.yellow { background: #ffd633; }

/* Red hover */
.red:hover {
    background: #e60000;
}

/* Blue hover */
.blue:hover {
    background: #0099e6;
}

/* Green hover */
.green:hover {
    background: #1fbf2f;
}

/* Yellow hover */
.yellow:hover {
    background: #e6c200;
}




